@model IEnumerable<TodoTask>

<table>
    <thead>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <tr>
            <th>Done</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td class="pl-4">
                    <input type="checkbox" name="isCompleted" data-task-id="@task.Id" value="@task.IsCompleted" @(task.IsCompleted ? "checked" : "") onclick="updateTask(this)"/>  
                </td>
                <td>@task.Description</td>
                <td>
                    <a asp-controller="Todo" asp-action="Details" asp-route-id="@task.Id">Details</a>
                    <a asp-controller="Todo" asp-action="Edit" asp-route-id="@task.Id">Edit</a>
                    <a asp-controller="Todo" asp-action="Delete" asp-route-id="@task.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Todo" asp-action="Create">Create</a>

<script>
    function updateTask(checkbox) {
        var taskId = $(checkbox).attr("data-task-id");
        var isCompleted = $(checkbox).is(":checked");

        // Send a request to the server to update the task's "isCompleted" property
        $.ajax({
            url: '/Todo/Update',
            type: 'POST',
            data: {
                taskId: taskId,
                isCompleted: isCompleted
            },
            success: function(response) {
                console.log("Task updated successfully");
                $.get("/Todo/GetData", function(data){});
            },
            error: function(xhr, status, error) {
                console.log("An error occurred while updating the task");
            }
        });
    }
</script>