@model IEnumerable<TodoTask>

<table class="table table-hover">
    <thead>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <br />
        <br />
        <tr>
            <th scope="col">Done</th>
            <th scope="col">Description</th>
            <th scope="col">Time left</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr id="task-@task.Id" class="table-primary">
                <td class="pl-5">
                    <input type="checkbox" name="isCompleted" data-task-id="@task.Id" value="@task.IsCompleted" @(task.IsCompleted ? "checked" : "") onclick="updateTask(this)"/>  
                </td>
                <td>@task.Description</td>
                
                @if((task.Deadline - DateTime.Now).TotalHours >= 96) {
                    <td>@(Math.Round((task.Deadline - DateTime.Now).TotalDays)) days</td>
                } else if((task.Deadline - DateTime.Now).TotalHours >= 1){
                    <td>@(Math.Round((task.Deadline - DateTime.Now).TotalHours)) hours</td>
                } else {
                    <td>@(Math.Round((task.Deadline - DateTime.Now).TotalMinutes)) minutes</td>
                }

                
                @if(task.CategoryId != null)
                {
                    <td>none</td>
                }
                else
                {
                    <td>@task.CategoryId</td>
                }
                

                <td>
                    <a asp-controller="Todo" asp-action="Details" asp-route-id="@task.Id">Details</a>
                    <a asp-controller="Todo" asp-action="Edit" asp-route-id="@task.Id">Edit</a>
                    <a asp-controller="Todo" asp-action="Delete" asp-route-id="@task.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn btn-primary btn-sm">
    <a asp-controller="Todo" asp-action="Create" style="color: white;">Create</a>
</button>

<br />
<br />

<div>
    <ul class="pagination">
        @if (ViewData["CurrentPage"] != null && ViewData["TotalPages"] != null)
        {
            int currentPage = (int)ViewData["CurrentPage"];
            int totalPages = (int)ViewData["TotalPages"];

            if (totalPages > 1)
            {
                // Generate the "previous" link
                        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = currentPage - 1 })">&laquo;</a>
                        </li>

                    // Generate the page links
                @for (int i = 1; i <= totalPages; i++)
                {
                                <li class="page-item @(i == currentPage ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                </li>
                }

                // Generate the "next" link
                        <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = currentPage + 1 })">&raquo;</a>
                        </li>
            }
        }
    </ul>
</div>

<script>
    function updateTask(checkbox) {
        var taskId = $(checkbox).attr("data-task-id");
        var isCompleted = $(checkbox).is(":checked");

        // Send a request to the server to update the task's "isCompleted" and "CompletedAt" properties
        $.ajax({
            url: '/Todo/Update',
            type: 'POST',
            data: {
                taskId: taskId,
                isCompleted: isCompleted
            },
            success: function(response) {
                console.log("Task updated successfully");
                if(isCompleted){
                    $("#task-" + taskId).remove();
                }
            },
            error: function(xhr, status, error) {
                console.log("An error occurred while updating the task");
            }
        });
    }
</script>


